// app/assets/stylesheets/application.css.sass

.edit_answer,.edit_question
  display: none

.centered-container
  margin: 0 auto
  max-width: 900px

.user_info
  margin: 5px
  margin-left: auto
  margin-right: 0
  background-color: #eff5f5
  width: 190px
  padding: 5px
  padding-left: 10px

.votecell
  float: left
  padding: 10px

.delete-question-link, .edit-question-link, .delete-answer-link, .edit-answer-link
  float: left
  padding-right: 5px
  padding-left: 5px
