// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit_question, .edit_answer{
  display: none;
}

.qnapp-navigation {
  direction: ltr;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 800px;
}

.mdl-layout__header-row{
  align-self: center;
}

@font-face {
    font-family: 'rechargebold';
    font-weight: normal;
    font-style: normal;
    src: font-url('recharge.bold-webfont.eot');
    src: font-url('recharge.bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('recharge.bold-webfont.woff') format('woff'),
         font-url('recharge.bold-webfont.ttf') format('truetype'),
         font-url('recharge.bold-webfont.svg') format('svg');
}

.logo{
  font-family: 'rechargebold';
  font-size: 30px;
  color: white;
}

.logo:hover{
  text-decoration: none;
  color: yellow;
}

.mdl-navigation__link{
   color: white;
   display: inline-block;
   height: 60px;
   line-height: 68px;
   border-bottom: 4px solid transparent;
   font-weight: 700;
   font-size: 14px;
 }

.mdl-navigation__link:hover {
  border-bottom: 4px solid yellow;
  text-decoration: none;
  color: yellow;
}

.centered-container{
  margin: 0 auto;
  max-width: 900px;
  display:block;
  overflow:auto;
}

.mdl-layout__content{
  -webkit-align-content: center;
  align-content: center;
}

.user_info{
  margin: 5px;
  margin-left: auto;
  margin-right: 0;
  background-color: #eff5f5;
  width: 190px;
  padding: 5px;
  padding-left: 10px;
}

.votecell{
  float: left;
  padding: 10px;
}

.delete-question-link, .edit-question-link, .delete-answer-link, .edit-answer-link{
  float: left;
  padding-right: 5px;
  padding-left: 5px;
}
