doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title Qnapp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    div class="centered-container"
      = render 'layouts/header'
      p.notice= notice
      p.alert= alert
      = content_tag(:div, flash[:error], :id => "flash_error") if flash[:error]
      = yield
